<% @questions.each do |question| %>
  <%=link_to  question_path(question) do%>
    <div class="questions">
      <div class="question_title">
        <%= question.title %>
      </div>
      <div class="question_date">
        質問日&nbsp;&nbsp;&nbsp;<%= l(question.updated_at, format: :middle)%>
      </div>
    </div>
  <% end %>
<% end %>