<% @questions.each do |question| %>
  <div class="questions">
    <div class="title">
      <%= question.title %>
    </div>
    <div class="date">
      質問日&nbsp;&nbsp;&nbsp;<%= l(question.updated_at, format: :middle)%>
    </div>
  </div>
<% end %>