<section id="question">
  <div class="title">
    <h3>【質問】</h3>
    <p><%= markdown(@question.title).html_safe%></p>
  </div>
  <hr>
  <div class="detail">
    <h3>【詳細】</h3>
    <p><%= markdown(@question.detail).html_safe%></p>
  </div>
</section>