<%if movie.read_by?(current_user)%>
  <p>
    <%= link_to "試聴済みを解除",movie_read_path(movie), class:"btn btn-primary btn-block mb-3", method: :delete,remote: true%>
<%else%>
    <%= link_to "試聴済みにする",movie_read_path(movie) , class:"btn btn-secondary btn-block mb-3", method: :post,remote: true%>
  </p>
<%end%> 