<nav class="navbar-expand navbar-dark bg-primary">
  <div class="collapse navbar-collapse justify-content-center fixed-bottom bg-primary" "id="navbar1">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to "ブログ", "http://utina.yoshitokamizato.com/", class: "nav-link  active"%>
      </li>
      <li class="nav-item">
        <%= link_to "YouTube", "https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag", class: "nav-link active"%>
      </li>
    </ul>
  </div>
</nav>