<%if movie.checked_by?(current_user)%>
  <p id="watched_movie">
    <%= link_to "試聴済みを解除",movie_check_path(movie) , remote: true, class:"btn btn-primary btn-block", method: :delete%>
<%else%>
    <%= link_to "試聴済みにする",movie_check_path(movie)  ,remote: true, class:"btn btn-secondary btn-block", method: :post%>
  </p>
<%end%>