@import "bootstrap/scss/bootstrap";

.base-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.questions {
  border: solid 2px;
  border-radius: 10px;
  margin: 50px auto;
  font-size: 22px;
  padding :20px 5px;
  text-align: left;
  display: flex;
}

.question_title, .question_date {
  width: 50%; 
}

.question_date {
  text-align: right;
  font-size: 17px;
  color: #888888;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger; 
}

.aws-text-container {
  text-align: left;
}

.aws-title {
  padding-top: 7rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.aws-body h2 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 30px 0 15px 0;
}

.question-container {
  padding: 30px 0;
}

.question {
  padding: 10px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#questions a {
  text-decoration: none;
  display: block;
  color: #333333;
  border: solid 2px #505050;
  border-radius: 10px;
  transition: .4s;
}

#questions a .title {
  font-size: 22px;
  line-height: 2;
}

#questions a .info {
  padding: 10px 10px 10px 20px;
  color: #BBBBBB;
}

#container p {
  font-size: 17px;
}

.field_with_errors {
  display: contents;
  textarea {
    @extend .is-invalid;
  }
}