@import "bootstrap/scss/bootstrap";

.base-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

//アカウント編集ページ
#account-container {
  width: 60%;
  // height: 75%;
  margin: 110px auto 0;
  text-align: left;

  h1 {
    font-size: 2em;
  }
}

#question {
  text-align: left;
  width: 800px;
  margin: 0 auto;

  h3 {
    font-size: 20px;
  }
  
  .title {
    padding-top: 50px;
  }

  .detail {
    padding-top: 50px;
  }

  .solution {
    padding-top: 50px;

    hr {
      padding-bottom: 20px;
    }
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.aws-text-container {
  text-align: left;
}

.aws-title {
  padding-top: 7rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.aws-body h2 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 30px 0 15px 0;
}

.movie-title {
  height: 180px;
  font-size: 1.7rem;
  line-height: 1.5em;
  text-align: left;
}

.paginate {
  display: flex;
  justify-content: center;
}

.question-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.question_date {
  text-align: right;
  font-size: 17px;
  color: #888888;
}

.question_title, .question_date {
  width: 50%; 
}

.field_with_errors {
  display: contents;
  textarea {
    @extend .is-invalid;
  }
}

.container {
  padding: 20px 0px 10px 0px;
  text-align :left;
  width: 800px;

  p {
    font-size: 17px;
  }

  h1 {
    padding: 20px 0px 10px 0px;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

#questions a {
  max-width: 768px;
  text-decoration: none;
  display: block;
  color: #333333;
  border: solid 2px #505050;
  border-radius: 10px;
  transition: .4s;
  margin-right: auto;
  margin-left: auto;
}

#questions a .title {
  font-size: 22px;
  line-height: 2;
}

#questions a .info {
  padding: 10px 10px 10px 20px;
  color: #BBBBBB;
}

#questions .question-container {
  padding: 30px 0;
}

.form-control{
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}

.btn-primary {
  max-width: 768px; 
  margin-right: auto;
  margin-left: auto;
}