@import "bootstrap/scss/bootstrap";

.base-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

//アカウント編集ページ
#account-container {
  width: 60%;
  // height: 75%;
  margin: 110px auto 0;
  text-align: left;

  h1 {
    font-size: 2em;
  }
}

#question {
  text-align: left;
}

#question .title {
  padding-top: 50px;
}

#question .detail {
  padding-top: 50px;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.aws-text-container {
  text-align: left;
}

.aws-title {
  padding-top: 7rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.aws-body h2 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 30px 0 15px 0;
}

.movie-title {
  height: 180px;
  font-size: 1.7rem;
  line-height: 1.5em;
  text-align: left;
}

.paginate {
  display: flex;
  justify-content: center;
}